@model IList<Jcf.Web.Models.Funcao.FuncaoViewModel>
@using Jcf.Dominio.Uteis

<div class="card">
    <div class="card-body">
        <h3 class="card-title">@ConstantesStrings.TITULO_FUNCAO</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.ActionLink("Index","Home")"> Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">@ConstantesStrings.TITULO_FUNCAO</li>
            </ol>
        </nav>

        <hr />

        <a class="btn btn-primary btn-sm" asp-action="Novo" asp-controller="Funcao">
            <i class="far fa-file-alt"></i> @ConstantesStrings.TITULO_PAGINA_NOVO_CADASTRO
        </a>

    </div>
</div>

<div class="card mt-3">
    <div class="card-header">
        Registros
    </div>
    <div class="card-body">
        @if (Model != null && Model.Any())
        {
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.Nome</td>
                        <td class="text-right">
                           <a asp-action="Detalhar"  asp-controller="Funcao" asp-route-id="@item.Id" class="btn btn-dark btn-sm"><i class="far fa-folder-open"></i> &nbsp; Detalhes</a>
                        </td>
                    </tr>

                }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-warning mt-3" role="alert">
                @ConstantesStrings.ITENS_NAO_ENCONTRADOS
            </div>
        }

    </div>
</div>





